      {% extends "base.html" %}
        {% block content %}
        <h1>Muokkaa askaretta Hammaslääkäri</h1>

        <form>
            <div class="form-group">
                <label>Nimi</label>
                <input class="form-control" value="Hammaslääkäri" type="text">
            </div>
            <div class="form-group">
                <label>Deadline, kirjoita muodossa pp.kk.vvvv</label>
                <input class="form-control" value="02.02.2016" type="text">
            </div>
            <div class="form-group">
                <label>Kuvaus</label>
                <input class="form-control" value="Huone 2014, lääkäri Meitsi Meikäläinen" type="text">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Tallenna</button>
            </div>
        </form>
        {% endblock %}   
