
{% extends "base.html" %}
{% block content %}
<h1>Askareet</h1>
<p>
    <a href="{{base_path}}/askare/askaremuokkaus 
       " class="btn btn-success">Lisää askare</a>
</p>

<p> Käyttäjän nimi: {{base_path}}
</p> 

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Deadline</th>
            <th>Kuvaus</th>
            <th> Muokkaus </th>
        </tr>
    </thead>
    <tbody>      
        {% for askare in askareet %}
        <tr>
            <td> <a href="{{base_path}}/askare/askarenakyma/{{askare.askare_id}}">{{askare.askare_nimi}}</td>
            <td>{{askare.deadline}}</td>
            <td> {{askare.kuvaus}} </td>
            <td> <a href="{{base_path}}/askare/askaremuokkaus/{{askare.askare_id}}">Muokkaa</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

