{% extends "base.html" %}
{% block content %}
<h1>Uusi askare:</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/askare">
    <div class="form-group">
        <label>Askareen nimi</label>
        <input name="askare_nimi" class="form-control" type="text" value = "{{attributes.askare_nimi}}">
    </div>

    <div class="form-group">
        <label> Askareen deadline. (vvvv-kk-pp) </label>
        <input name="deadline" class="form-control" type="text" value = "{{attributes.deadline}}">
    </div>

    <div class="form-group">
        <label> Askareen kuvaus </label>
        <input name="kuvaus" class="form-control" type="text" value = "{{attributes.kuvaus}}">
    </div>


    <label> Askareen luokat </label>
    {% for luokka in luokat %}
    <div class="form-group"> 
        <label><input name ="luokat[]" type ="checkbox" value=
                      "{{luokka.luokka_id}}"> {{luokka.luokka_nimi}}</label>
    </div>
    {% endfor %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>

</form>

{% endblock %}
