         {% extends "base.html" %} 
          {% block content %}      
        <h1> Kirjautuminen muistilistaan </h2> 
        <form method = "post" action="{{base_path}}/kayttaja/login">
            <div class="form-group">
                <label>Käyttäjätunnus</label>
                <input class="form-control" type="text" name = "kayttaja_nimi" value = "{{kayttaja_nimi}}">
            </div>
            <div class="form-group">
                <label>Salasana</label>
                <input class="form-control" type="password" name = "salasana" value = "{{salasana}}">
            </div>

            <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
        </form>
        {% endblock %}

