<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <h1>Muokkaa askaretta Hammaslääkäri</h1>

        <form>
            <div class="form-group">
                <label>Nimi</label>
                <input class="form-control" value="Hammaslääkäri" type="text">
            </div>
            <div class="form-group">
                <label>Deadline, kirjoita muodossa pp.kk.vvvv</label>
                <input class="form-control" value="02.02.2016" type="text">
            </div>
            <div class="form-group">
                <label>Kuvaus</label>
                <input class="form-control" value="Huone 2014, lääkäri Meitsi Meikäläinen" type="text">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Tallenna</button>
            </div>
        </form>
        {% endblock %}    </body>
</html>
