{% extends "base.html" %}
{% block content %}


<h1>Tervetuloa muistilistaan!</h1>

<br>

<div class="alert alert-success">
    {{message}}
</div>

<p> eeppinen etusivu </p>

<br>

<p> Täällä voit kirjata ylös erilaisia askareitasi, luokitella ja priorisoida niitä. </p>

<br>



<p style = "font-size: 1.3em"> Jos sinulla on jo käyttäjätunnus etkä ole kirjautunut, kirjaudu sisään tästä:
    <a href="{{base_path}}/kayttaja/login 
       " class="btn btn-success">Kirjautuminen</a>
</p>

<p style = "font-size: 1.3em"> Jos sinulla ei ole käyttäjätunnusta tai unohdit vanhan, luo sellainen tästä:
    <a href="{{base_path}}/kayttaja/uusi 
       " class="btn btn-success">Uusi käyttäjä</a>
</p>


{% endblock %}